<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form action="/action_page.php">
      <label for="tname">Task Name:</label><br>
      <input type="text" id="tname" name="tname" value=" "><br><br>
      <label for="tgname">Tag Name:</label><br>
      <input type="text" id="tgname" name="tgname" value=" "><br><br>
      <label for="gname">Group Name:</label><br>
      <input type="text" id="gname" name="gname" value=" "><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
